@font-face {
    font-family: 'DIN Pro Cond';
    src: url('DINPro-CondensedLight.woff2') format('woff2'),
        url('DINPro-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('DINPro-Medium.woff2') format('woff2'),
        url('DINPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

