body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  font-family: 'DIN Pro';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.primary-btn {
  padding: 10px 66px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  line-height: 18px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #010F56;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #07003B;
}

.card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  margin-bottom: 30px;
}

.card:hover {
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.card .card__image {
  position: relative;
  display: block;
}

.card .card__image .image {
  width: 100%;
}

.card .card__image .card-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 6px;
  background: #FFFFFF;
  border-radius: 7px;
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card__image .card-percent {
  padding: 8px 20px;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF027E;
  background: #FFFFFF;
  border-radius: 3px;
}

.card .card-info {
  padding: 10px;
}

.card .card-info .card-info__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
  margin-bottom: 20px;
  color: #010F56;
}

.card .card-info .tag {
  padding: 6px 21px;
  background: grey;
  margin-bottom: 10px;
  border-radius: 2px;
  margin-bottom: 10px;
  display: inline-block;
  color: white;
}

.card .card-info .tag--food {
  color: black;
  background: #FCCC43;
}

.card .card-info .tag--edu {
  background: #1CB60E;
}

.card .card-info .tag--health {
  background: #FF027E;
}

.card .card-info .tag--services {
  background: #2F80ED;
}

.card .card-info .tag--rest {
  background: #D51313;
}

.card .card-info .tag--cafe {
  background: #F95F09;
}

.card .card-info .card-info__location {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: black;
}

.card .card-info .card-info__location span {
  color: #010F56;
  font-weight: 100;
}

.card .card-info .primary-btn:hover {
  background: #07003B;
  color: white;
}

.header {
  background: #07003B;
  -webkit-box-shadow: 0px 4px 20px rgba(7, 0, 59, 0.2);
          box-shadow: 0px 4px 20px rgba(7, 0, 59, 0.2);
}

.header a {
  color: white;
  text-decoration: none;
}

.header .menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  padding-left: 30px;
  line-height: 15px;
  position: relative;
}

.header .menu-link a.logo:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url(../../icons/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header .menu-link a.tel:before {
  background-image: url("../../icons/Vector (1).svg");
}

@media screen and (max-width: 768px) {
  .header .menu-link.tablet {
    display: none !important;
  }
}
